<div class="modal fade" id="changePasswordModal">
    <div class="modal-dialog">
        <div class="modal-content text-secondary">
            <div class="modal-header">
                <h5 class="modal-title"> <i class="fa fa-key badge bg-secondary"></i> Change your password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <form action="/" method="post">
                <div class="modal-body">
                    <div class="border rounded">
                        <input type="password" class="border form-control" placeholder="Current password">
                    </div>
                    <div class="border rounded mt-2">
                        <input type="password" class="border form-control" placeholder="New password">
                    </div>
                    <div class="border rounded mt-2">
                        <input type="password" class="border form-control" placeholder="Confirmation password">
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="bg-secondary text-white" type="submit">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>