

<% 
    let barCreate = (options) => {
        return `
            <div class="col-12 mb-3">
                <div class="d-flex flex-wrap align-items-center justify-content-between bg-white rounded shadow-default p-3">
            
                    <h5 class='text-secondary text-raleway' style='margin-bottom:2px'>
                        <a href=''><i class='fa fa-home'></i></a> /
                        <a href={linkToPath}>Employees</a> /
                        <a href="/create">Create</a>
                    </h5>
            
            
                    <div class="pagination" role="list">
                        <li class="page-item dropdown">
                            <a to="#" class="page-link dropdown-toggle" id="dropdownFilters" data-bs-toggle="dropdown">
                                <i class='fa fa-filter'></i> Filter
                            </a>
                            <ul class="dropdown-menu p-4 shadow-default border-0 rounded w-auto" aria-labelledby="dropdownFilters">
                                <li>
                                    <a href="#" class="dropdown-itemx">All</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-itemx">Archived</a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown-itemx">Not activated</a>
                                </li>
                                <li>
                                    <a class='dropdown-itemx'><i class='fa fa-plus-circle'></i> Custom filter</a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-item">
                            <a to="?view=grid" class="page-link">
                                <i class='fa fa-bars'></i> Group by
                            </a>
                        </li>
                    </div>
            
                    <div class='pagination' role="list">
                        <li class="page-item">
                            <a href="#" class='page-link input'>
                                <input type="number" defaultValue={data.length} />
                            </a>
                        </li>
            
                        <li class="page-item">
                            <a href="#" class='page-link'>02</a>
                        </li>
            
                        <li class="page-item">
                            <a href="#" class='page-link'>
                                <i class="fa fa-chevron-circle-left"></i>
                            </a>
                        </li>
            
                        <li class="page-item">
                            <a href="#" class='page-link'>
                                <i class="fa fa-chevron-circle-right"></i>
                            </a>
                        </li>
            
            
                        <li class="page-item" key={id}>
                            <a href='?view=th' class="page-link">
                                <i class='fa fa-th'></i>
                            </a>
                        </li>
            
                        <li class="page-item">
                            <a href='?view=list' class="page-link">
                                <i class='fa fa-list'></i>
                            </a>
                        </li>
            
            
                    </div>
            
            
                </div>
            </div>
        `;
    }
%>
