
<% if( typeof error != undefined || error != null) { %>
    <% if( error.message && error.type) { %>
        <div class="alert alert-<%=error.type %> alert-dismissible fade show" role="alert">
            <%= error.message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
    <% } %>
<% } %>
