
<aside class="navigation bg-secondary">

    <div class="d-flex align-items-center navigation-header bg-white">
        <img src="/icons/favicon.png" alt="" width={38} />
        <h4 class="text-secondary" style="padding-top:7px"><strong class="badge bg-primary">HR</strong> Attendance.</h4>
    </div>

    <div class='navigation-nav'>
        <a href="/dashboard" class='d-flex align-items-center'>
            <i class="fas fa-columns"></i>
            <span class="text-decoration-none text-white">Dashboard</span>
        </a>

        <% if ( user.role == 'admin' || user.role == 'user' ) { %>
            <a href="/employees" class="text-white d-flex align-items-center">
                <i class="fas fa-users"></i>
                <span class="text-decoration-none t-white">Employees</span>
                <i class='badge rounded-pill bg-orange float-right'>
                    <%= data.length %>
                </i>
            </a>
            <a href="/departments" class="d-flex align-items-center">
                <i class="fas fa-columns"></i>
                <span class="text-decoration-none t-white">Departments</span>
                <i class='badge rounded-pill bg-warning float-right'>
                    <%= data.length %>
                </i>
            </a>
        <% } %>

        <li class='navigation-dropdown'>
            <a data-bs-toggle="collapse" href="#multiCollapseExample1" class="collapse-item d-block w-100">
                <i class="fas fa-list"></i>
                <span class="text-decoration-none t-white">Attendances</span>
            </a>
            <div class="collapse multi-collapse bg-secondary-dark-2 rounded" id="multiCollapseExample1">
                <% if ( user.role=='admin' || user.role=='user' ) { %>
                    <a href="/attendances" class='d-flex align-items-center'>
                        <i class="fas fa-columns"></i>
                        <span class="text-decoration-none t-white">Attendances</span>
                        <i class='badge rounded-pill bg-primary float-right'>
                            <%= data.length %>
                        </i>
                    </a>
                <% } %>
                
                <a href="/attendances/kiosque" class='d-flex align-items-center'>
                    <i class="fas fa-columns"></i>
                    <span class="text-decoration-none t-white">KioSque Mode</span>
                </a>
               
            </div>
        </li>

        <% if ( user.role=='admin' || user.role=='user' ) { %>
            <li class='navigation-dropdown'>
                <a data-bs-toggle="collapse" href="#settings" class="collapse-item d-block w-100">
                    <i class="fas fa-cogs "></i>
                    <span class="text-decoration-none t-white">Settings</span>
                </a>
                <div class="collapse multi-collapse" id="settings">
                    <a href="/users" class="d-flex align-items-center">
                        <i class="fas fa-user-friends"></i>
                        <span class="text-decoration-none">Users</span>
                        <i class='badge rounded-pill bg-primary float-right'>05</i>
                    </a>
                </div>
            </li>
        <% } %>
    </ul>
</aside>
