<%- include('./Includes/begin.ejs') %>

<section id="content-wrapper" class=" text-secondary vh-100">
    <main role="main" class="pt-5 main">
        <div class="container">
            <div class="row">
                <div class="col-md-7 m-auto text-center">
                   <div class="border-bottom">
                        <h1>Welcom to HR Attendance</h1>
                   </div>
                   <div class="py-4">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, enim magni. Odio dolore doloribus deserunt velit optio excepturi minima maxime in cumque quis. Fugiat iusto architecto et nemo perspiciatis dolor?
                    </p>
                   </div>
                   <div class="pb-4">
                    <a 
                        href="/login" 
                        class="bg-primary rounded-pill p-2 px-4  text-white text-decoration-underline"> Login </a> or
                    <a 
                        href="/register"  
                        class="bg-primary rounded-pill p-2 px-4 text-white text-decoration-underline">Register</a>
                   </div>
                   <div class="modal-footer">
                      <small>&COPY;<a href="https://zeslap.com" class="fs-6 text-secondary"><strong>ZeSlap Inc</strong></a>. | Alrights reserved</small>
                   </div>
                </div>
            </div>
        </div>
    </main>
</section>
